/* CSS variables */
:root {
  --primary-color: #42454a;
  --dark-color: #17181a;
  --white-color: #fff;

  --f-size-large: 5.625rem; /* 90px */
  --f-size-medium: 3.125rem; /* 50px */
  --f-size-xmedium: 2.5rem; /* 40px */
  --f-size-xxmedium: 1.875rem; /* 30px */
  --f-size-small: 1.375rem; /* 22px */
  --f-size-xsmall: 1.25rem; /* 20px */
  --f-size-xxsmall: 1rem; /* 16px */
  --f-size-too-small: 0.8125rem; /* 13px */
}

/* CSS reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* Container */
.container {
  max-width: 1400px;
  padding-inline: 2%;
  margin-inline: auto;
}

/* --------------------- HEADER STYLING --------------------- */
header {
  padding: 2rem 0;
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  border: 1px solid #eae8f3;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

nav ul {
  display: flex;
  gap: 4rem;
}

nav ul li {
  font-size: var(--f-size-xxsmall);
  font-weight: 400;
  transition: 0.3s;
}

nav ul li:hover {
  transform: scale(1.05) translateY(-5px);
}

nav ul li a {
  color: var(--primary-color);
  position: relative;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: var(--dark-color);
}

nav ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--dark-color);
  border-radius: 6px;
  left: 0;
  bottom: -7px;
  transition: 0.5s;
  transform: scale(0);
}

nav ul li a:hover::after {
  transform: scale(1);
}

.desktop__btn .d_btn {
  display: inline-block;
  padding: 0.8rem 1.25rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  border: 1px solid var(--primary-color);
  font-size: var(--f-size-xxsmall);
  color: var(--white-color);
  background-color: var(--primary-color);
  margin-left: 0.4rem;
  transition: 0.3s;
}

.desktop__btn .l_btn {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: none;
}

.desktop__btn .l_btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.mobile__btn {
  display: none;
}

.hamburger {
  display: none;
}

/* --------------------- HERO SECTION STYLING --------------------- */
.hero-section {
  padding: 2rem 0;
}

.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content .h_text__content h1 {
  font-size: var(--f-size-large);
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 400;
  max-width: 600px;
}

.h_text__content h1 span {
  font-weight: 600;
}

.hero__content img {
  width: 50%;
}

.line {
  width: 300px;
  height: 4px;
  background-color: var(--primary-color);
  border-radius: 0.4rem;
  margin: 3rem 0;
}

.h_text__content p {
  font-size: var(--f-size-xsmall);
  color: var(--primary-color);
  margin-bottom: 3rem;
}

.btn,
.primary_btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: var(--f-size-xxsmall);
  transition: 0.3s;
}

.primary_btn:hover {
  opacity: 0.9;
}

.hero_features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  gap: 0.4rem;
}

.hero_features .feature_box {
  width: 170px;
  height: 135px;
  box-shadow: 0 0 1px var(--primary-color);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.6rem;
  transition: 0.3s;
}

.feature_box:hover {
  transform: translateY(-5px);
}

.feature_box h3 {
  font-size: var(--f-size-xmedium);
  color: var(--primary-color);
}

.feature_box h3 span {
  font-size: var(--f-size-xsmall);
}

.feature_box p {
  font-size: var(--f-size-xxsmall);
  color: var(--primary-color);
  text-transform: capitalize;
}
/* --------------------- PRODUCT INFO SECTION STYLING --------------------- */
.product-section {
  padding: 2rem 0;
}

.p_heading__text {
  text-align: center;
  margin-top: 5rem;
}

.p_heading__text h2 {
  font-size: var(--f-size-medium);
  color: var(--primary-color);
  text-transform: capitalize;
}

.p_heading__text p {
  color: var(--primary-color);
  font-size: var(--f-size-xsmall);
  margin-top: 2rem;
}

.product__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__content .p_feature__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product__content .p_feature__content .content__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content__item h4 {
  font-size: var(--f-size-xxsmall);
  color: var(--primary-color);
}

/* --------------------- MOTOR SECTION STYLING --------------------- */
.motor-section {
  padding: 2rem 0;
}

.m_heading__text {
  text-align: center;
}

.m_heading__text h2 {
  font-size: var(--f-size-medium);
  color: var(--primary-color);
}

.m_heading__text p {
  font-size: var(--f-size-xsmall);
  color: var(--primary-color);
  margin: 1rem 0;
}

.m__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.motor_img {
  width: 100%;
  object-fit: cover;
}

/* --------------------- ACCESSORY SECTION STYLING --------------------- */
.accessory-section {
  padding: 2rem 0;
}

.a_heading__text {
  text-align: center;
}

.a_heading__text h2 {
  color: var(--primary-color);
  font-size: var(--f-size-medium);
}

.a_heading__text p {
  color: var(--primary-color);
  font-size: var(--f-size-xsmall);
  margin-top: 1rem;
}

.accessory__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.a_feature__content h3 {
  font-size: var(--f-size-xmedium);
  color: var(--primary-color);
}

.accessory__content .a_feature__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.accessory__content .a_feature__content .content__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.accessory_img {
  width: 50%;
}

.center__btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.primary_btn.accessory_btn {
  background-color: transparent;
  font-weight: 900;
  height: 65px;
  text-transform: capitalize;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.primary_btn.accessory_btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* --------------------- GALLERY SECTION STYLING --------------------- */
.gallery-section {
  padding: 2rem 0;
}

.g_heading__text {
  margin-top: 5rem;
  text-align: center;
}

.g_heading__text h2 {
  color: var(--primary-color);
  font-size: var(--f-size-medium);
}

.g_heading__text p {
  color: var(--primary-color);
  font-size: var(--f-size-xsmall);
  margin: 1rem 0;
}

.g_main__content {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.g_main__content img {
  width: 50%;
  object-fit: cover;
}

.g_main__content .g__btns {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.primary_btn.gallery_btn {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  height: 4rem;
  color: var(--primary-color);
}
/* --------------------- COLOR SECTION STYLING --------------------- */
.color-section {
  padding: 2rem 0;
}

.c_heading__text {
  margin-top: 8rem;
  text-align: center;
}

.c_heading__text h2 {
  color: var(--primary-color);
  font-size: var(--f-size-medium);
}

.c_heading__text p {
  color: var(--primary-color);
  font-size: var(--f-size-xsmall);
  margin: 1rem 0;
}

.c_main__content {
  background: url("../images/color_scooter__bg.jpg") no-repeat center/cover;
  margin-top: 5rem;
}

.colors__scooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50%;
}

.colors__scooter .colors_img {
  object-fit: cover;
  width: 25%;
  transition: 0.3s ease;
}

.colors_img:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
/* --------------------- TESTIMONIALS SECTION STYLING --------------------- */
.testimonials-section {
  padding: 2rem 0;
}

.t_heading__text {
  text-align: center;
}

.t_heading__text h2 {
  color: var(--primary-color);
  font-size: var(--f-size-medium);
}

.t_box__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  gap: 0.5rem;
}

.t_box__wrapper .t_text__box {
  width: 350px;
  height: 305px;
  border: 1px solid #d8d8d8;
  padding: 0.6rem;
  text-align: center;
  transition: 0.3s;
}

.t_text__box:hover {
  transform: translateY(-10px);
}

.stars {
  margin-top: 2rem;
}

.t_text__box .user__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.t_text__box .info__text {
  max-width: 300px;
  margin: 2rem auto;
}

.user__info .user_info__text {
  line-height: 20px;
}

.user_info__text p {
  font-size: var(--f-size-xxsmall);
  color: var(--dark-color);
  line-height: 30px;
}

.user_info__text i {
  font-size: var(--f-size-too-small);
  color: var(--primary-color);
}
/* --------------------- SUBSCRIBE SECTION STYLING --------------------- */
.subscribe-section {
  padding: 2rem 0;
}

.s_form__content {
  margin-top: 10rem;
  text-align: center;
}

.s_form__content h2 {
  font-size: var(--f-size-medium);
  color: var(--primary-color);
}

.s_form__content p {
  color: var(--primary-color);
  font-size: var(--f-size-xsmall);
  margin: 1rem 0 3rem 0;
}

.s_form__content form input {
  width: 400px;
  height: 60px;
  outline: none;
  border: none;
  padding: 1rem;
  font-size: var(--f-size-xxsmall);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 0.6rem;
  margin: 1rem;
}

.primary_btn.form__btn {
  height: 60px;
}
/* --------------------- FOOTER FINISH STYLING --------------------- */
footer {
  padding: 2rem 0;
  margin-top: 6rem;
  background-color: var(--primary-color);
}

.footer_main__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
}

.f_img__content {
  position: relative;
  bottom: 150px;
}

.f_img__content img {
  width: 90%;
}

.f_main__list ul {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.f_main__list ul .active {
  color: var(--white-color);
  font-size: var(--f-size-xxmedium);
  font-weight: 600;
  opacity: 1;
}

.f_main__list ul li {
  font-size: var(--f-size-xxsmall);
}

.f_main__list ul a {
  color: var(--white-color);
  opacity: 0.7;
  transition: 0.3s;
}

.f_main__list ul a:hover {
  opacity: 1;
  text-decoration: underline;
}

.f_main__list .socials .fa-brands {
  color: var(--white-color);
  font-size: var(--f-size-xxmedium);
  margin-top: 3rem;
  margin: 3rem 0.6rem 0 0;
  transition: 0.3s;
}

.f_main__list .socials .fa-brands:hover {
  transform: scale(1.05) translateY(-5px);
}

.f_main__list .socials .fa-facebook:hover {
  color: #1859e5;
}

.f_main__list .socials .fa-twitter:hover {
  color: #5283ed;
}

.f_main__list .socials .fa-instagram:hover {
  color: #e51818;
}

.footer__info {
  color: var(--white-color);
  font-size: var(--f-size-xxsmall);
  text-align: center;
  opacity: 0.7;
}

hr {
  border: 1px solid grey;
  margin: 3rem 0;
}
/* --------------------- SIGNUP STYLING --------------------- */
.sign-section {
  padding: 2rem 0;
  background-color: var(--primary-color);
}

.sign__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign_form__content {
  width: 100%;
  max-width: 500px;
  background-color: #333539;
  padding: 1rem;
  border-radius: 0.6rem;
}

.sign_form__content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.sign_form__content form h1 {
  color: var(--white-color);
  font-size: var(--f-size-xmedium);
  margin-bottom: 2rem;
}

.sign_form__content form input {
  width: 90%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 0.6rem;
  padding: 1rem;
  background-color: transparent;
  color: var(--white-color);
  font-size: var(--f-size-xxsmall);
  border-bottom: 1px solid var(--primary-color);
}

.sign_form__content form p {
  font-size: var(--f-size-xxsmall);
  color: var(--white-color);
  opacity: 0.9;
}

.sign_form__content form p a {
  color: var(--white-color);
}

.sign_form__content form p a:hover {
  text-decoration: underline;
}

.sign_form__content .primary_btn.sign_btn,
.sign_form__content .primary_btn.google_btn {
  text-align: center;
  width: 90%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  gap: 1rem;
}
/* ----------------- RESPONSIVE ----------------- */
@media (max-width: 1200px) {
  .product__content .p_feature__content {
    gap: 1rem;
  }
  .product__content .product_img {
    width: 50%;
  }
  /* FOOTER */
  .footer_main__wrapper {
    flex-wrap: wrap;
  }
  /* SIGN UP SECTION */
  .sign__wrapper .sign__scooter {
    width: 50%;
  }
}

@media (max-width: 1080px) {
  /* SIGN UP SECTION */
  .sign__wrapper {
    flex-direction: column;
    gap: 2rem;
  }

  .sign__wrapper .sign__scooter {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  nav ul {
    gap: 3rem;
  }

  /* HERO SECTION */
  .hero__content .h_text__content h1 {
    font-size: var(--f-size-medium);
  }

  .hero__content .h_text__content p {
    font-size: var(--f-size-xxsmall);
  }

  .line {
    width: 150px;
  }

  .hero__content img {
    width: 60%;
  }

  .hero_features {
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .hero_features .feature_box h3 {
    font-size: var(--f-size-xxmedium);
  }
  /* PRODUCT INFO SECTION */
  .product__content {
    margin-top: 5rem;
  }

  .p_heading__text h2 {
    font-size: var(--f-size-xmedium);
  }

  .p_heading__text p {
    font-size: var(--f-size-xxsmall);
  }

  .p_feature__content .content__item img {
    width: 40px;
  }
  /* MOTOR SECTION */
  .m_heading__text h2 {
    font-size: var(--f-size-xmedium);
  }

  .m_heading__text p {
    font-size: var(--f-size-xxsmall);
  }
  /* ACCESSORY SECTION */
  .a_heading__text h2 {
    font-size: var(--f-size-xmedium);
  }

  .a_heading__text p {
    font-size: var(--f-size-xxsmall);
  }

  .accessory__content .a_feature__content .content__item img {
    width: 40px;
  }
  .accessory_img {
    width: 60%;
  }
  /* GALLERY SECTION */
  .g_heading__text h2 {
    font-size: var(--f-size-xmedium);
  }

  .g_heading__text p {
    font-size: var(--f-size-xxsmall);
  }
  /* COLOR SECTION */
  .c_heading__text h2 {
    font-size: var(--f-size-xmedium);
  }

  .c_heading__text p {
    font-size: var(--f-size-xxsmall);
  }
  /* TESTIMONIALS SECTION */
  .t_heading__text h2 {
    font-size: var(--f-size-xmedium);
  }

  .t_box__wrapper {
    flex-wrap: wrap;
  }

  .t_text__box {
    flex-grow: 1;
  }
  .t_text__box .info__text {
    max-width: 90%;
  }
  /* SUBSCRIBE SECTION */
  .s_form__content h2 {
    font-size: var(--f-size-xmedium);
  }

  .s_form__content p {
    font-size: var(--f-size-xxsmall);
  }
  /* FOOTER */
  .footer_main__wrapper {
    flex-direction: column;
    text-align: center;
  }

  .f_img__content img {
    width: 70%;
  }
}

/* Tablet */
@media (max-width: 767px) {
  header {
    padding: 1rem 0;
  }

  .mobile__btn {
    display: block;
  }

  .desktop__btn {
    display: none;
  }
  /* Mobile menu */
  nav ul {
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    width: 50%;
    height: 100vh;
    background-color: var(--primary-color);
    transition: all 0.5s;
    z-index: 5;
  }

  nav ul.show {
    right: 0;
    opacity: 1;
  }

  nav ul li a {
    color: var(--white-color);
  }

  nav ul li a:hover {
    color: var(--white-color);
  }

  nav ul li a::after {
    background-color: var(--white-color);
  }

  /* hamburger styling */
  .hamburger {
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 9;
  }

  .hamburger-child {
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 0.4rem;
    transition: 0.3s;
  }

  /* X animation  */
  .hamburger.active .hamburger-child:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
    background-color: var(--white-color);
  }

  .hamburger.active .hamburger-child:nth-child(2) {
    margin-right: 100px;
    opacity: 0;
  }

  .hamburger.active .hamburger-child:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
    background-color: var(--white-color);
  }
  /* HERO SECTION */
  .hero__content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .hero__content .h_text__content h1 {
    max-width: 60%;
  }

  .line {
    margin: 2rem 0;
  }

  .hero__content img {
    width: 90%;
  }
  /* PRODUCT INFO SECTION */
  .product__content {
    flex-direction: column;
  }

  .product__content .product_img {
    width: 100%;
  }
  /* MOTOR SECTION */
  .m_heading__text h2 {
    font-size: var(--f-size-xmedium);
  }

  .m_heading__text p {
    font-size: var(--f-size-xxsmall);
  }
  /* ACCESSORY SECTION */
  .accessory__content {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .accessory_img {
    width: 100%;
  }
  /* GALLERY SECTION */
  .g_main__content {
    flex-direction: column;
    gap: 2rem;
  }

  .g_main__content img {
    width: 100%;
  }
  /* COLOR SECTION */
  .c_heading__text {
    margin-top: 2rem;
  }

  .colors__scooter {
    flex-direction: column;
    padding-top: 2rem;
    gap: 2rem;
  }

  .colors__scooter .colors_img {
    width: 100%;
  }
  /* SUBSCRIBE INFO SECTION */
  .s_form__content form input {
    width: 300px;
  }
  /* SIGN UP SECTION */
  .sign__wrapper .sign__scooter {
    width: 100%;
  }
  .sign_form__content form h1 {
    font-size: var(--f-size-xxmedium);
  }
}

@media (max-width: 567px) {
  header {
    padding: 0.6rem 0;
  }
  nav ul {
    width: 100%;
  }

  .logo {
    width: 50px;
  }
  /* HERO SECTION */
  .hero__content {
    text-align: center;
  }

  .hero__content .h_text__content h1 {
    max-width: 100%;
  }

  .line {
    margin: 2rem auto;
  }

  .primary_btn {
    width: 90%;
  }

  .hero__content img {
    width: 100%;
  }

  /* PRODUCT INFO SECTION */
  .p_heading__text h2 {
    font-size: var(--f-size-xxmedium);
  }

  .product__content .p_feature__content .content__item {
    gap: 0.4rem;
  }

  .p_feature__content .content__item h4 {
    font-size: var(--f-size-too-small);
  }

  /* MOTOR SECTION */
  .m_heading__text h2 {
    font-size: var(--f-size-xxmedium);
  }

  /* ACCESSORY SECTION */
  .a_heading__text h2 {
    font-size: var(--f-size-xxmedium);
  }

  .accessory__content .a_feature__content .content__item {
    gap: 0.4rem;
  }

  .accessory__content .a_feature__content h3 {
    font-size: var(--f-size-xxmedium);
  }

  .a_feature__content .content__item h4 {
    font-size: var(--f-size-too-small);
  }

  .primary_btn.accessory_btn {
    font-weight: bold;
    padding: 0.6rem;
  }
  /* GALLERY SECTION */
  .g_heading__text {
    margin-top: 2rem;
  }
  .g_main__content {
    margin-top: 2rem;
  }
  .g_main__content .g__btns .primary_btn.gallery_btn {
    width: 100%;
    height: 3rem;
  }
  /* SUBSCRIBE INFO SECTION */
  .s_form__content {
    flex-direction: column;
    margin-top: 2rem;
  }
  .s_form__content form input {
    width: 90%;
  }

  /* FOOTER */
  .f_img__content {
    bottom: 100px;
  }

  .f_img__content img {
    width: 100%;
  }
}
